.carrosel {
  color: $color-blue;
  font-size: 6rem;
  display: grid;
  grid-template-columns: 2fr 8fr 2fr;
  transition: all .4s;

  i:first-child {
    text-align: right;
  }

  i {
    cursor: pointer;
    position: relative;
    top: 6rem;

    &:hover {
    color: rgba($color-blue, .8);
      transition: all .4s;
    }

  }

  &-content {
    overflow: hidden;
  }

}

.carrosel-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10rem;

  .title {
    font-size: 2rem;
    margin: 0;
    margin-bottom: 2rem;
  }

  .description {
    font-size: 1.4rem;
    margin-top: 1rem;
  }

  img {
    width: 8rem;
    height: auto;
    border-radius: 50%;
  }
}

.carrosel-content-hide {
  //transform: translateX(2rem);
  //transition: all .6s;
  animation: carroselOutRight .8s forwards;
}
.carrosel-content-show {
  animation: carroselInRight .8s forwards;
}

@keyframes carroselInRight {

  0% {
  transform: translateX(100%);
  }

  100% {
  transform: translateX(0);
  }

}

@keyframes carroselOutRight {

  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }

}

@keyframes carroselInLeft {

  0% {

  }

  100% {

  }

}

@keyframes carroselOutLeft {

  0% {

  }

  100% {

  }

}
