.section-header {
  height: 100vh;
  background-color: $color-white;

  .sub-section {
    background-color: $color-primary;
    height: 100%;
    display: flex;
    padding: 15rem 15rem;
    justify-content: space-between;
    clip-path: polygon(0 0, 100% 0, 100% 70%, 0 85%);

    .content {
      color: $color-white;
      max-width: 70rem;

      .separador-header {
        height: .5rem;
        width: 13rem;
        border-radius: 3rem;
        background-color: $color-white;
        margin: 2rem 0;
      }

      h1 {
        font-size: 3.5rem;
      }

      h2 {
        font-weight: lighter;
      }

    }

    .container-preco {
      width: 40rem;
      height: 30rem;
      background: linear-gradient(to right, #17A5D7, #15cdda);
      border-radius: 0 10rem 0 10rem;
      color: $color-white;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;

      .apartir {
        align-self: flex-start;
        margin-left: 3.4rem;
        margin-bottom: 6rem;
      }

      .precos {
        font-size: $font-size-8;
        position: relative;
        bottom: 5rem;

        .cifra {
          position: absolute;
          left: -4rem;
          top: 0;
        }

        .valor {
          font-size: 10rem;
          line-height: 9rem;
        }

        .mensal {
          position: absolute;
          right: 0;
        }

      }

      .saiba-mais {
        position: absolute;
        right: 2rem;
        bottom: 2rem;
      }

    }

  }
}


.section-menu {
  background-color: #EDF2F7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 5rem 0 15%;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

  .title {
    font-size: 3.5rem;
    color: #2687E9;
    margin-bottom: 7rem;
  }

}


.section-conteudo {
  padding: 5rem;
  padding-bottom: 10rem;
  background-color: $color-white;
  position: relative;
  z-index: 5;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -6rem;

    h1 {
      font-size: 3.5rem;
      color: #2687E9;
      text-align: center;
    }

    h2 {
      font-weight: lighter;
      font-size: 1.6rem;
    }


  }


  .cards {
    position: absolute;
    bottom: -12rem;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    grid-template-columns: repeat(2, 45rem);
    grid-gap: 5rem;
  }

}


.section-clientes {
  background-color: #EDF2F7;
  clip-path: polygon(0 25%, 100% 0, 100% 100%, 0 100%);
  position: relative;
  z-index: 1;
  padding-top: 30rem;
  padding-bottom: 20rem;

  .title {
    font-size: 3.5rem;
    color: #2687E9;
    margin-bottom: 7rem;
    display: block;
    width: 100%;
    text-align: center;
  }

}
